numpy==1.26.4
pysqlite3-binary==0.5.4
torch==2.0.1
sentence-transformers
transformers
langchain==0.3.25
langchain-community==0.3.21
langchain-chroma==0.2.2
langchain-huggingface
chromadb==0.6.3
tavily-python
streamlit==1.45.1
google-generativeai
huggingface_hub
tokenizers
protobuf==5.29.5
scikit-learn==1.6.1
pandas==2.2.3